[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ActCR"]
	path = ActCR
	url = https://github.com/junruidi/actcr
[submodule "ActFrag"]
	path = ActFrag
	url = https://github.com/junruidi/actfrag
